<div class='span8 offset2' >

	<br/><h2 class='center'>Cara Documentation</h2>

	<br/>

	<legend>Stems</legend>

	<div>
		<table class='center'>
			<tr>
				<th align='left'>Key</th>
				<td>a</td>
				<td>k</td>
				<td>g</td>
				<td>q</td>
				<td>c</td>
				<td>j</td>
				<td>x</td>
				<td>t</td>
				<td>d</td>
				<td>n</td>
				<td>p</td>
				<td>b</td>
				<td>m</td>
				<td>y</td>
				<td>r</td>
				<td>l</td>
				<td>w</td>
				<td>s</td>
				<td>h</td>
			</tr>
			<tr>
				<th align='left'>Cara</th>
				<td><%= image_tag("a.png") %></td>
				<td><%= image_tag("k.png") %></td>
				<td><%= image_tag("g.png") %></td>
				<td><%= image_tag("q.png") %></td>
				<td><%= image_tag("c.png") %></td>
				<td><%= image_tag("j.png") %></td>
				<td><%= image_tag("x.png") %></td>
				<td><%= image_tag("t.png") %></td>
				<td><%= image_tag("d.png") %></td>
				<td><%= image_tag("n.png") %></td>
				<td><%= image_tag("p.png") %></td>
				<td><%= image_tag("b.png") %></td>
				<td><%= image_tag("m.png") %></td>
				<td><%= image_tag("y.png") %></td>
				<td><%= image_tag("r.png") %></td>
				<td><%= image_tag("l.png") %></td>
				<td><%= image_tag("w.png") %></td>
				<td><%= image_tag("s.png") %></td>
				<td><%= image_tag("h.png") %></td>
			</tr>
			<tr>
				<th align='left'>IDN</th>
				<td><font color="silver">a</font></td>
				<td>k<font color="silver">a</font></td>
				<td>g<font color="silver">a</font></td>
				<td>ng<font color="silver">a</font></td>
				<td>c<font color="silver">a</font></td>
				<td>j<font color="silver">a</font></td>
				<td>ny<font color="silver">a</font></td>
				<td>t<font color="silver">a</font></td>
				<td>d<font color="silver">a</font></td>
				<td>n<font color="silver">a</font></td>
				<td>p<font color="silver">a</font></td>
				<td>b<font color="silver">a</font></td>
				<td>m<font color="silver">a</font></td>
				<td>y<font color="silver">a</font></td>
				<td>r<font color="silver">a</font></td>
				<td>l<font color="silver">a</font></td>
				<td>w<font color="silver">a</font></td>
				<td>s<font color="silver">a</font></td>
				<td>h<font color="silver">a</font></td>
			</tr>
		</table>
	</div>
	
	<br/><br/>

	<legend>Diacritics</legend>

	<div>
		<table class='center'>
			<tr>
				<th align='left'>Key</th>
				<td><font color="silver">k</font></td>
				<td><font color="silver">k</font>v</td>
				<td><font color="silver">k</font>z</td>
				<td><font color="silver">k</font>vz</td>
				<td><font color="silver">k</font>i</td>
				<td><font color="silver">k</font>vi</td>
				<td><font color="silver">k</font>o</td>
				<td><font color="silver">k</font>vo</td>
				<td><font color="silver">k</font>u</td>
				<td><font color="silver">k</font>vu</td>
				<td><font color="silver">k</font>e</td>
				<td><font color="silver">k</font>ve</td>
				<td><font color="silver">k</font>fe</td>
				<td><font color="silver">k</font>f</td>
			</tr>
			<tr>
				<th align='left'>Cara</th>
				<td><%= image_tag("k.png") %></td>
				<td><%= image_tag("kv.png") %></td>
				<td><%= image_tag("kz.png") %></td>
				<td><%= image_tag("kvz.png") %></td>
				<td><%= image_tag("ki.png") %></td>
				<td><%= image_tag("kvi.png") %></td>
				<td><%= image_tag("ko.png") %></td>
				<td><%= image_tag("kvo.png") %></td>
				<td><%= image_tag("ku.png") %></td>
				<td><%= image_tag("kvu.png") %></td>
				<td><%= image_tag("ke.png") %></td>
				<td><%= image_tag("kve.png") %></td>
				<td><%= image_tag("kfe.png") %></td>
				<td><%= image_tag("kf.png") %></td>
			</tr>
			<tr>
				<th align='left'>IDN</th>
				<td><font color="silver">k</font>a</td>
				<td><font color="silver">k</font>a<i>N</i></td>
				<td><font color="silver">k</font>&#233;</td>
				<td><font color="silver">k</font>&#233;<i>N</i></td>
				<td><font color="silver">k</font>i</td>
				<td><font color="silver">k</font>i<i>N</i></td>
				<td><font color="silver">k</font>o</td>
				<td><font color="silver">k</font>o<i>N</i></td>
				<td><font color="silver">k</font>u</td>
				<td><font color="silver">k</font>u<i>N</i></td>
				<td><font color="silver">k</font>e</td>
				<td><font color="silver">k</font>e<i>N</i></td>
				<td><font color="silver">k</font>er</td>
				<td><font color="silver">k</font></td>
			</tr>
		</table>
	</div>
	
	<br/><br/>

	<legend>Miscellaneous</legend>

	<div>
		<table class='center'>
			<tr>
				<th align='left'>Key</th>
				<td>,</td>
				<td>.</td>
				<td>?</td>
				<td>!</td>
				<td>[</td>
				<td>]</td>
				<td>-</td>
				<td>/</td>
				<td>;</td>
			</tr>
			<tr>
				<th align='left'>Cara</th>
				<td><%= image_tag("koma.png") %></td>
				<td><%= image_tag("titik.png") %></td>
				<td><%= image_tag("tanya.png") %></td>
				<td><%= image_tag("seru.png") %></td>
				<td><%= image_tag("buka.png") %></td>
				<td><%= image_tag("tutup.png") %></td>
				<td><%= image_tag("sempang.png") %></td>
				<td><%= image_tag("singkat.png") %></td>
				<td><%= image_tag("bisah.png") %></td>
			</tr>
			<tr>
				<th align='left'>IDN</th>
				<td>,</td>
				<td>.</td>
				<td>?</td>
				<td>!</td>
				<td>&#8220;</td>
				<td>&#8221;</td>
				<td>-</td>
				<td><font color='grey'><sup>1</sup></font></td>
				<td><font color='grey'><sup>2</sup></font></td>
			</tr>
		</table>
	</div>
	<br/>
	<div>
		<table>
			<tr>
				<td><font color='grey'><sup>1</sup></font></td>
				<td><font color='grey'><i>abbreviation mark</i></font></td>
			</tr>
			<tr>
				<td><font color='grey'><sup>2</sup></font></td>
				<td><font color='grey'><i>turns</i> {k, j, p, s} <i>into</i> {kh, z, f, sy}</font></td>
			</tr>
		</table>
	</div>

	<br/><br/>

	<legend>Examples</legend>
	<h4>Example 1 (Pantun)</h4>
	<div>
		<table class='center'>
			<tr>
				<th align='left'>Key</th>
				<td align='left'>berkitf-/ ke hulu , berenqf-/ ke tepiynf . bfeskitf-/ dhulu , bfesenqf-/ kemudiynf .</td>
			</tr>
			<tr>
				<th align='left'>Cara</th>
				<td align='left'><%= image_tag("pantun.png") %></td>
			</tr>
			<tr>
				<th align='left'>IDN</th>
				<td align='left'>Berakit-rakit ke hulu, berenang-renang ke tepian. Bersakit-sakit dahulu, bersenang-senang kemudian.</td>
			</tr>
		</table>
	</div>

	<br/>
	<h4>Example 2 (UDHR)</h4>
	<div>
		<table class='center'>
			<tr>
				<th align='left'>Key</th>
				<td align='left'>semuw aorqf dilhirfknf mfedzk dnf mvepuxai mrftbtf dnf hkf-/ yqf sm . merzk dikruniyai aklf dnf hti nurni dnf hvedkfx bfegaulf stu sm lainf dlmf semqtf pfeswfdranf .</td>
			</tr>
			<tr>
				<th align='left'>Cara</th>
				<td align='left'><%= image_tag("udhr.png") %></td>
			</tr>
			<tr>
				<th align='left'>IDN</th>
				<td align='left'>Semua orang dilahirkan merdeka dan mempunyai martabat dan hak-hak yang sama. Mereka dikaruniai akal dan hati nurani dan hendaknya bergaul satu sama lain dalam semangat persaudaraan.</td>
			</tr>
		</table>
	</div>
	
	<br/>
	<div>
		<font color='grey'><i>Also, key in </i>***<i> for <a href="assets/uud45.txt">UUD 1945 Preamble</a> and </i>*****<i> for <a href="assets/udhr.txt">UDHR full text</a>.</i></font>
	</div>

	<br/><br/><br/>

</div>